<% include partials/header %>

<h1>Hello campers! 👋</h1>

<p>Checkout our curated campground sites from all over the world</p>

<a href="/campgrounds">View Campgrounds</a>

<% include partials/footer %>
